@using Portifólio.Models;
@{
    ViewData["Title"] = "Vinícius Lima";
    var git = GHConnect.GetProfile();
}

<div class="text-center">
    <div class="anime">
        <h1 class="display-4">Olá!</h1>
        <h2>Meu nome é Vinícius Lima</h2>
        <h2>Bem-Vindo ao meu Portifólio</h2>
        <img class="img imgProfilePic" src="~/img/profile.jpg">
    </div>
    <div class="anime">
        <p>Consigo realizar minhas atividades em diversas tecnologias. Profissionalmente tenho mais de um ano de experiência, e programo desde os 18 anos. Em meus projetos, atuo no front e backend, banco de dados, APIs, assim como ajudar nas correções de bugs, me dedico ao máximo em tudo o que faço, e gosto de demonstrar esforço, independente das circunstâncias.</p>
    </div>
    <div class="anime">
        <div class="social-media">
            <a href="https://github.com/vinniemaster" style="--i:4"><i class='bx bxl-github'></i></a>
            <a href="https://www.linkedin.com/in/vin%C3%ADcius-lima-072025150/" style="--i:5"><i class='bx bxl-linkedin-square'></i></a>
            <a href="https://whatsa.me/5511993317955" style="--i:5"><i class='bx bxl-whatsapp'></i></a>
            <a href="./pdf/Curriculo-VLC.pdf" style="--i:6"><i class='bx bxs-file-doc'></i></a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="anime">
            <h3>Tecnologias que Utilizo:</h3>
            <div class="card cu" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" />
                    <p class="card-text">Utilizo o C# como linguagem base para o desenvolvimento back-end em meus projetos, consigo desenvolver integrações de API, WebServices, Modelagem de banco de dados, integrações de documentos, CRUDs e tudo que for necessário.</p>
                </div>
            </div>
            <div class="card cu" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg" />
                    <p class="card-text">Utilizo o .NET como FrameWork para o desenvolvimento back-end em meus projetos, consigo desenvolver integrações de API, WebServices, Modelagem de banco de dados, integrações de documentos, CRUDs e tudo que for necessário.</p>
                </div>
            </div>
            <div class="card cu" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain-wordmark.svg" />
                    <p class="card-text">Em meus projetos tenho vivência sólida com o SQL Server, assim como o Oracle SQL e MySQL.</p>
                </div>
            </div>
            <div class="card cu" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
                    <p class="card-text">Utilizo como base o Git para controle de versionamento, já realizei projetos com o Azure DevOps e GitHub.</p>
                </div>
            </div>
            <div class="card cu" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
                    <p class="card-text">Tenho o conhecimento do Javascript puro para conseguir debugar problemas em FrameWorks como Jquery, ReactJS e AngularJS assim como desenvolver melhorias em projetos legados.</p>
                </div>
            </div>
            <div class="card cu" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original-wordmark.svg" />
                    <p class="card-text">Desenvolvo com o JQuery para realizar automação de processos, chamadas de API, criação de tabelas e tudo o que for necessário.</p>
                </div>
            </div>
            <div class="card cu" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
                    <p class="card-text">Utilizo o ReactJS e Native em desenvolvimento de front-end e apps.</p>
                </div>
            </div>
            <div class="card cu" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
                    <p class="card-text">Utilizo o HTML no desenvolvimento de front-end.</p>
                </div>
            </div>
            <div class="card cu" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
                    <p class="card-text">Utilizo o CSS em desenvolvimento de front-end.</p>
                </div>
            </div>
        </div>
        
            
    </div>
    <br />
    <div class="anime">
        <h3>Meus Projetos no Github:</h3>

        @foreach (var repo in git)
        {

            <div class="card">
                <div class="card-body">
                    <h4>@repo.name</h4>
                    <p>@repo.description</p>
                    <button type="button" onclick="window.location.href='@repo.html_url'" class="btn btn-primary btn-sm">Acessar repositório</button>

                </div>
            </div>
            <br />
        }
    </div>
    <br />
    <div class="anime">
        <h3>Minhas experiências profissionais:</h3>
        <div class="row">
            <h4>SP Intervention</h4>
            <h5>Período: Fevereiro/22 – Atual</h5>
            <p>
                Atuando como desenvolvedor C# MVC realizando correções nos sistemas corporativos e melhorias, realizando estorias em novos projetos, utilizando as tecnologias: Javascript e JQuery, .NET MVC, SQL, Oracle SQL, GIT e Scrum
            </p>
        </div>
        <div class="row">
            <h4>Stefanini Brasil</h4>
            <h5>Período: Dezembro/20 – Fevereiro/22</h5>
            <p>
                Atuei como suporte sênior bilíngue, realizando administração dos ativos, como celular e computadores, administrando usuários, projetos, interfaces de admin do AD e MDM de celular Prestando serviços á Colgate Palmolive do Brasil
            </p>
        </div>
        <div class="row">
            <h4>Global Hitss</h4>
            <h5>Período: Janeiro/19 – Dezembro/20</h5>
            <p>
                Atuei como Suporte VIP – Analista de suporte N2 bilíngue realizando troubleshooting, formatação de máquinas e configuração de computadores e celulares para a secretaria executiva e presidência
                Prestando serviços a UHG Brasil (Amil)
            </p>
        </div>
    </div>
    <br/>
    <div class="anime">
        <h3>Graduações e Cursos:</h3>
        <div class="row">
            <h4>Análise e desenvolvimento de sistemas</h4>
            <h4>FMU – Faculdades Metropolitanas Unidas</h4>
            <h5>Período: 2021-2023</h5>
        </div>
        <br />
        <div class="row">
            <h4>Sistemas de telecomunicações e Redes</h4>
            <h4>FMU – Faculdades Metropolitanas Unidas</h4>
            <h5>Período: 2016-2018</h5>
        </div>
        <br />
        <div class="row">
            <h4>Inglês</h4>
            <h4>Cultura Inglesa</h4>
            <h5>Período: 4 anos</h5>
        </div>
        <br />
        <div class="row">
            <h4>MySQL</h4>
            <h4>Impacta</h4>
            <h5>Período: 60 Horas</h5>
        </div>
        <br />
        <div class="row">
            <h4>Python</h4>
            <h4>Agit Informática</h4>
            <h5>Período: 60 Horas</h5>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function ex () {
            var $target = $('.anime'),
                animationClass = 'anime-start',
                offset = $(window).height() * 3 / 4;

            function animeScroll() {
                var documentTop = $(document).scrollTop();

                $target.each(function () {
                    var itemTop = $(this).offset().top;
                    if (documentTop > itemTop - offset) {
                        $(this).addClass(animationClass);
                    }
                    else {
                        $(this).removeClass(animationClass);
                    }
                })
            }
            animeScroll();

            $(document).scroll(function () {
                animeScroll();
            })
        };

        ex();


    </script>
}
