html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.anime{
    opacity: 0;
    transform: translate3d(-200px,0,0);
    transition: 2s;
}

.anime-start {
    opacity: 1;
    transform: translate3d(0,0,0);
}
.imgProfilePic {
    width: 250px;
    border-radius: 100%;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid ;
    border-radius: 50%;
    font-size: 25px;
    color: #000f;
    text-decoration: none;
    margin: 0px 15px 25px 0;
    transition: .5s ease;
}