html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-top: 55px;
    margin-bottom: 60px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(0deg,#232526,#414345);
    color: #fff;
}

.anime{
    opacity: 0;
    transform: translate3d(-200px,0,0);
    transition: 2s;
}

.anime-start {
    opacity: 1;
    transform: translate3d(0,0,0);
}
.imgProfilePic {
    width: 250px;
    border-radius: 100%;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid ;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    margin: 0px 15px 25px 0;
    transition: .5s ease;
}

.lang-card {
    background: linear-gradient(0deg,#232526,#414345);
    padding: 5px 5px 5px 5px;
    border-radius: 10px 10px;
    border: 1px solid white;
    width: 18em;
    height: 25em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 2px;
    margin-bottom: 5px;
}
.lang-card .lc-body {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.lang-card .lc-body img{
    width: 65%;
}
i {
    font-size: 40px
}
.anime .gitoff{
    color: #ccc;
}

.footer{
    background: #000;
}


.navbar-nav .nav-item a:hover{
    text-decoration: underline;
}
